{% extends 'base.html' %}
{% load static image_tags i18n %}
{% block title %}
    {% trans 'Пользователь' %} - {{ profile.username }}
{% endblock %}

{% block content %}
    <!-- Start Content-->
    <div class="mt-3"></div>
    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="{% url 'index_site' %}">{% trans 'Главная' %}</a></li>
                                            <li class="breadcrumb-item"><a href="{% url 'profile_all_users' %}">{% trans 'Профиль' %}</a></li>
                                            <li class="breadcrumb-item active">{{ profile.username }}</li>
                                        </ol>
                                    </div>
                                    <h4 class="page-title">{% trans 'Профиль' %}</h4>
                                </div>
                            </div>
                        </div>
                        <!-- end page title -->


                        <div class="row">
                            <div class="col-sm-12">
                                <!-- Profile -->
                                <div class="card bg-primary">
                                    <div class="card-body profile-user-box">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <div class="row align-items-center">
                                                    <div class="col-auto">
                                                        <div class="avatar-lg isOnline {% if profile.is_online %} online {% endif %}">
                                                            <img src="{{ profile.images|image }}" alt="" class="rounded-circle img-thumbnail border-0">
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div>
                                                            <h4 class="mt-1 mb-1 text-white">{{ profile.username }}</h4>
                                                            <span class="badge {{ profile.groups.first.name|lower }} rounded-pill p-1">{{ profile.groups.first.name }}</span>

{#                                                            <ul class="mb-0 list-inline text-light">#}
{#                                                                <li class="list-inline-item me-3">#}
{#                                                                    <h5 class="mb-1">$ 25,184</h5>#}
{#                                                                    <p class="mb-0 font-13 text-white-50">Total Revenue</p>#}
{#                                                                </li>#}
{#                                                                <li class="list-inline-item">#}
{#                                                                    <h5 class="mb-1">5482</h5>#}
{#                                                                    <p class="mb-0 font-13 text-white-50">Number of Orders</p>#}
{#                                                                </li>#}
{#                                                            </ul>#}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> <!-- end col-->

                                            {% if request.user.id == profile.id %}
                                            <div class="col-sm-4">
                                                <div class="text-center mt-sm-0 mt-3 text-sm-end">
                                                    <button type="button" class="btn btn-light">
                                                        <i class="mdi mdi-account-edit me-1"></i> {% trans 'Редактировать профиль' %}
                                                    </button>
                                                </div>
                                            </div> <!-- end col-->
                                            {% endif %}
                                        <div class="float-end text-light text-end">{{ profile.get_online_info }}</div>
                                        </div> <!-- end row -->

                                    </div> <!-- end card-body/ profile-user-box-->
                                </div><!--end profile/ card -->
                            </div> <!-- end col-->
                        </div>
                        <!-- end row -->


                        <div class="row">
                        {% if request.user.is_authenticated %}
                            <div class="col-xl-4">
                                <!-- Personal-Information -->

                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title mt-0 mb-3">{% trans 'Обо мне' %}</h4>
                                        <p class="text-muted font-13">
                                            {{ profile.about_us }}
                                            {% if not profile.about_us %}
                                                <div class="alert alert-primary" role="alert">
                                                    {% blocktrans %}<strong>Извените - </strong> Нет информации о пользователе!{% endblocktrans %}
                                                </div>
                                            {% endif %}
                                        </p>

                                        <hr/>

                                        <div class="text-start">
                                            <p class="text-muted"><strong>{% trans 'Полное имя' %} :</strong> <span class="ms-2">{{ profile.firstname }} {{ profile.lanstname }}</span></p>

                                            <p class="text-muted"><strong>Email :</strong> <span class="ms-2"><strong>{{ profile.email }}</strong></span></p>

                                            <p class="text-muted"><strong>{% trans 'Страна' %} :</strong> <span class="ms-2">{{ profile.country.name }}</span></p>

                                            <p class="text-muted"><strong>{% trans 'Язык' %} :</strong>
                                                <span class="ms-2"> {{ profile.location.name }} </span>
                                            </p>
                                            <p class="text-muted mb-0" id="tooltip-container"><strong>{% trans 'Ссылки' %} :</strong>
                                                <a class="d-inline-block ms-2 text-muted" data-bs-container="#tooltip-container" data-bs-placement="top" data-bs-toggle="tooltip" href="" title="Vk"><i class="mdi mdi-vk"></i></a>
                                                <a class="d-inline-block ms-2 text-muted" data-bs-container="#tooltip-container" data-bs-placement="top" data-bs-toggle="tooltip" href="" title="Odnoklassniki"><i class="mdi mdi-odnoklassniki"></i></a>
                                                <a class="d-inline-block ms-2 text-muted" data-bs-container="#tooltip-container" data-bs-placement="top" data-bs-toggle="tooltip" href="" title="Skype"><i class="mdi mdi-skype"></i></a>
                                            </p>

                                        </div>
                                    </div>
                                </div>

                                <!-- Personal-Information -->

{#                                <!-- Toll free number box-->#}
{#                                <div class="card text-white bg-info overflow-hidden">#}
{#                                    <div class="card-body">#}
{#                                        <div class="toll-free-box text-center">#}
{#                                            <h4> <i class="mdi mdi-deskphone"></i> Toll Free : 1-234-567-8901</h4>#}
{#                                        </div>#}
{#                                    </div> <!-- end card-body-->#}
{#                                </div> <!-- end card-->#}
{#                                <!-- End Toll free number box-->#}

                                <!-- Messages-->
                                {% if request.user.id  == profile.id %}
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title mb-3">{% trans 'Сообщения' %}</h4>

                                        <div class="inbox-widget">
                                            <div class="inbox-item">
                                                <div class="inbox-item-img"><img src="{% static 'images/users/avatar-6.jpg' %}" class="rounded-circle" alt=""></div>
                                                <p class="inbox-item-author">Adhamdannaway</p>
                                                <p class="inbox-item-text">This theme is awesome!</p>
                                                <p class="inbox-item-date">
                                                    <a href="#"
                                                       class="btn btn-sm btn-link text-info font-13"> {% trans 'Ответить' %} </a>
                                                </p>
                                            </div>
                                        </div> <!-- end inbox-widget -->
                                    </div> <!-- end card-body-->
                                </div> <!-- end card-->
                                {% endif %}

                            </div> <!-- end col-->
                        {% endif %}
                            <div class="{% if request.user.is_authenticated %}col-xl-8 {% else %} col-xl-12 {% endif %}">

                                {#                                <!-- Chart-->#}
                                {#                                <div class="card">#}
                                {#                                    <div class="card-body">#}
                                {#                                        <h4 class="header-title mb-3">Orders & Revenue</h4>#}
                                {#                                        <div dir="ltr">#}
                                {#                                            <div style="height: 260px;" class="chartjs-chart">#}
                                {#                                                <canvas id="high-performing-product"></canvas>#}
                                {#                                            </div>#}
                                {#                                        </div>#}
                                {#                                    </div>#}
                                {#                                </div>#}
                                {#                                <!-- End Chart-->#}

                                <div class="row">
                                    <div class="{% if request.user.is_authenticated %} col-sm-4 {% else %} col-sm-12 {% endif %}">
                                        <div class="card tilebox-one">
                                            <div class="card-body">
                                                <i class="dripicons-blog float-end text-muted"></i>
                                                <h6 class="text-muted text-uppercase mt-0">{% trans 'Моих записей' %}</h6>
                                                <h2 class="m-b-20"><a
                                                        href="{% url  'profile_user_article' profile.username %}">{{ profile.articles.count }}</a>
                                                </h2>
                                                {#                                                <span class="badge bg-primary"> +11% </span> <span class="text-muted">From previous period</span>#}
                                            </div> <!-- end card-body-->
                                        </div> <!--end card-->
                                    </div><!-- end col -->
                                    {% if request.user.is_authenticated %}
                                    <div class="col-sm-4">
                                        <div class="card tilebox-one">
                                            <div class="card-body">
                                                <i class="dripicons-message  float-end text-muted"></i>
                                                <h6 class="text-muted text-uppercase mt-0">{% trans 'Моих комментариев' %}</h6>
                                                <h2 class="m-b-20"><a href="{% url 'profile_user_comments' profile.username %}">{{ profile.comments.count }}</a></h2>
{#                                                <span class="badge bg-danger"> -29% </span> <span class="text-muted">From previous period</span>#}
                                            </div> <!-- end card-body-->
                                        </div> <!--end card-->
                                    </div><!-- end col -->

                                    <div class="col-sm-4">
                                        <div class="card tilebox-one">
                                            <div class="card-body">
                                                <i class="dripicons-arrow-down float-end text-muted"></i>
                                                <h6 class="text-muted text-uppercase mt-0">{% trans 'Моих файлов' %}</h6>
                                                <h2 class="m-b-20"><a href="{% url 'profile_user_file' profile.username %}">{{ profile.user_file.count }}</a></h2>
{#                                                <span class="badge bg-primary"> +89% </span> <span class="text-muted">Last year</span>#}
                                            </div> <!-- end card-body-->
                                        </div> <!--end card-->
                                    </div><!-- end col -->
                                    {% endif %}
                                </div>
                                <!-- end row -->

                                {% if request.user.is_authenticated %}
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title mb-3">{% trans 'Мои проэкты' %}</h4>

                                        <div class="table-responsive">
                                            <table class="table table-hover table-centered mb-0">
                                                <thead>
                                                    <tr>
                                                        <th>Project</th>
                                                        <th>Price</th>
                                                        <th>Stock</th>
                                                        <th>Amount</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Marco Shoes</td>
                                                        <td>$28.49</td>
                                                        <td><span class="badge bg-primary">69 Pcs</span></td>
                                                        <td>$1,965.81</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div> <!-- end table responsive-->
                                    </div> <!-- end col-->
                                </div> <!-- end row-->
                                {% endif %}
                            </div>
                            <!-- end col -->

                        </div>
                        <!-- end row -->

                    </div> <!-- container -->
        <!-- end row-->
{% endblock %}