{% extends "base.html" %}

{% load i18n %}
{% block head_title %}{% endblock %}


{% block content %}
    <div class="col-7 offset-2">
            <div class="row justify-content-md-center">
                <div class="col-6">
                    <div class="row">


                        <div class="login">
                        <div class="col-12 head">
                            <h2 class="text-center">{% if token_fail %}{% trans "Проблемма с токеном" %}{% else %}{% trans "Сменить пароль" %}{% endif %}</h2>
                        </div>

                            <div class="col-12 body mt-4 p-4">
                                {% if token_fail %}
                                {% url 'account_reset_password' as passwd_reset_url %}
                                <p>{% blocktrans %}Ссылка для сброса пароля недействительна, возможно, потому, что она уже использовалась. Запросите <a href="{{ passwd_reset_url }}">сброс нового пароля.</a>.{% endblocktrans %}</p>
                                {% else %}
                                <form action="{{ action_url }}" method="post">
                                {% csrf_token %}
                                    {% if redirect_field_value %}
                                      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                                    {% endif %}

                                    <div class="mb-3 row">
                                        <label for="id_possword1" class="col-sm-2 col-form-label">{% trans 'Пароль' %}</label>
                                        <div class="col-sm-10">
                                            <input type="password" class="form-control" id="id_possword1" name="password1" >
                                        </div>
                                    </div>

                                    <div class="mb-3 row">
                                        <label for="id_possword2"  class="col-sm-2 col-form-label">{% trans 'Подтвердите пароли' %}</label>
                                        <div class="col-10">
                                            <input type="password" name="password2" class="form-control" id="id_possword2">
                                        </div>
                                    </div>





                                    <div class="mt-4 row">
                                        <button class="btn btn-outline-success">{% trans 'Сменить пароль' %}</button>
                                    </div>
                                </form>
                            {% endif %}

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
{% endblock content %}
