{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Сброс пароля" %}{% endblock %}


{% block content %}
    <div class="col-7 offset-2">
            <div class="row justify-content-md-center">
                <div class="col-8">
                    <div class="row">


                        <div class="login">
                        <div class="col-12 head">
                            <h2 class="text-center">{% trans "Сброс пароля" %}</h2>
                        </div>

                            <div class="col-12 body mt-4 p-4">

                                {% if form.non_field_errors %}

                                    {% for message in form.non_field_errors %}
                                        <div class="alert alert-danger d-flex align-items-center" role="alert">
                                            <i class="fas fa-exclamation-triangle"></i>  <span class="mx-2">{{ message }}</span>
                                        </div>
                                    {% endfor %}
                                {% endif %}

                                {% if user.is_authenticated %}
                                    {% include "account/snippets/already_logged_in.html" %}
                                {% endif %}

                                <p>{% trans "Забыли свой пароль? Введите свой <strong>адрес электронной почты</strong> ниже, и мы отправим вам электронное письмо, позволяющее сбросить его." %}</p>

                                <form action="{% url 'account_reset_password' %}" method="post">
                                {% csrf_token %}

                                    <div class="mb-3">
                                        <input id="id_email" name="email" type="email" class="form-control" placeholder="E-mail">
                                    </div>

                                    <div class="mt-4 row d-grid">
                                        <button class="btn btn-outline-success">{% trans 'Отправить' %}</button>
                                    </div>
                                </form>
                                <hr>
                                <p>{% blocktrans %}Пожалуйста, свяжитесь с нами, если у вас возникнут проблемы со сбросом пароля.{% endblocktrans %}</p>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
{% endblock content %}
