{% extends "base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Сменить Пароль" %}{% endblock %}


{% block content %}
    <div class="col-7 offset-2">
            <div class="row justify-content-md-center">
                <div class="col-10">
                    <div class="row">
                        <div class="alert alert-success">
                            <div class="alirt-header mb-3">
                                <h1 class="alert-heading text-center">{% trans "Сменить Пароль" %}</h1>
                                <hr>
                            </div>
                            <div class="alert-body">
                                <p class="text-center" style="font-size:20px">{% trans 'Теперь ваш пароль изменен.' %}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}