{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Сброс пароля" %}{% endblock %}

{% block content %}
    <div class="col-7 offset-2">
            <div class="row justify-content-md-center">
                <div class="col-10">
                    <div class="row">
                        <div class="alert alert-success">
                            <div class="alirt-header mb-3">
                                <h1 class="alert-heading text-center">{% trans "Сброс пароля" %}</h1>
                                <hr>
                            </div>
                            <div class="alert-body">
                                {% if user.is_authenticated %}
                                    {% include "account/snippets/already_logged_in.html" %}
                                {% endif %}

                            <p>{% blocktrans %}Мы отправили вам электронное письмо.Если вы не получили его, пожалуйста, проверьте папку со спамом.В противном случае свяжитесь с нами, если вы не получите его в течение нескольких минут. {% endblocktrans %}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}