@media (min-width: 992px)  {
    .article-img{
        height: 292px;
    }
    .d-block-custom{
        display: none !important;
    }
    #message-box .card, #mesasage-box-chat .card{
        height: 100%;
    }
}

@media (min-width: 700px) and (max-width: 991px){
    .article-img{
        height: 122px;
    }
    .d-block-custom{
        display: none !important;
    }
}

.bg-account{
    background-image: url(/static/images/bg-pattern-light.svg);
    background-size: cover;
    background-position: center;
}
#tooltip-container ul li{
    padding: 5px 10px;
}

#tooltip-container ul li span{
    vertical-align: middle;
}

.superuser{
    background: #0aaeb3;
}
.administrator{
    background: red;
}

.search-to{
    padding: 15px;
    background: #000;
    width: 100%;
    border-radius: 5px;
    background: #fdfdfd;
    box-shadow: 0px 0px 4px #595959;
    display: none;
}

.search-to h5{
    text-shadow: 1px 0px 1px blue;
    border-bottom: 1px solid #c9c9f8;
}

.search-to ul li{
    margin-top: 1rem;
    border-bottom:1px solid #d0cfcf;
    padding: .5rem;
    cursor:pointer;
}

.search-to ul li:last-child{
    border-bottom:none;
}

.search-to .close-search{
    right: -15px;
    top:-15px;
    background: #eeeeee;
    padding: 5px 10px;
    border-radius: 50%;
    font-weight: bold;
    box-shadow: 0px 0px 4px #595959;
    cursor: pointer;

}

.search-to .close-search i{
    vertical-align: middle;
}