{% extends 'base.html' %}
{% load static %}

{% block title %}
    Поиск - {{ search_get }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
    <div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Projects</a></li>
                    <li class="breadcrumb-item active">Project Details</li>
                </ol>
            </div>
                <h4 class="page-title">Найдено {{ inf_search }} материала по запросу "{{ search_get }}"</h4>
            </div>
        </div>
    </div>
    </div>

    <div class="row">
        <div class="col-12">
        {% if object_list %}
            {% for object in object_list %}
                {% include object.TEMPLATE_PREVIEW %}
            {% endfor %}
        {% else %}
            <div class="alert alert-info text-center">По вашему запросу ничего не найдено</div>
        {% endif %}

        </div>
    </div>
    <div class="row">
    {% include 'blog/modules/pagination.html' %}
    </div>

{% endblock %}